doctype 5
html(lang="en")
  head
    title This is it

  body
    h1 Now that's what I'm talking about
    #container
      p Okay, that's all
      p One more time
      p And now
      p Word up dude

    #footer
      span some stuff here   
      #links This is something
